<form class="form-inline">
  <div class="form-group">
    <input
      type="search"
      class="form-control"
      placeholder="Enter the name of a song or band"
      #search />
  </div>
  <br/>
  <button
    type="button"
    class="btn btn-primary"
    (click)="doSearch(search.value)">
    Search 
  </button>
</form>

<hr />

<div class="text-center">
  <p class="lead" *ngIf="loading">Loading...</p>
</div>

<ul class="list-group">
  <li class="list-group-item" *ngFor="let item of searchResults">
    <img src="{{ item.thumbnail }}" />
    <a target="_blank" href="{{ item.link }}">{{ item.track }} </a>
  </li>
</ul>
